root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
indent_size = 2

[infra/**/*]
indent_size = 2

[infra/**/*.sh]
end_of_line = lf

[server/**/*]
indent_size = 2

[server/**/*.cs]
indent_size = 4
