.env
.vs/
.idea/

server/**/*.suo
server/**/*.user
server/**/[Bb]in/
server/**/[Oo]bj/
server/**/_UpgradeReport_Files/
server/**/[Pp]ackages/

server/**/Thumbs.db
server/**/Desktop.ini
server/**/.DS_Store

server/**/appsettings.Development.json
server/**/appsettings.Staging.json
server/**/appsettings.Production.json
server/**/appsettings.Docker.json
