$base-background-color: white;
$large-border-radius: 1em;
$small-border-radius: 5px;
$black-opacity-dark: #000000Ae;
$grey-light: #F0F0F0;
$main-color: #50C655;
$delete-color: #D62727;
$font-small: 0.9em;
